<div class="jumbotron container text-center">
    <h1 class="display-4">WaxGuide Recomendation:</h1>
    <hr class="my-4">
    <div class="container text-center">
        <ul>
            <li>Location Name: <%= @output.first["LocalizedName"] %>, <%= @output.first["AdministrativeArea"]["ID"] %></li>
            <li>Country: <%= @output.first["Country"]["LocalizedName"] %></li>
            <li>Postal Code: <%= @output.first["PrimaryPostalCode"] %></li>
            <li>Location Key: <%= @output.first["Key"] %></li>
            <li>Latitude: <%= @output.first["GeoPosition"]["Latitude"] %></li>
            <li>Longitude: <%= @output.first["GeoPosition"]["Longitude"] %></li>
        </ul>
    </div>
    <p>Is this location correct? If not, search zip code above</p>

    <%= form_tag location_path, :method => 'POST' do %>
    <div class="form-group">
      <%= text_field_tag 'location', nil, :value => @output.first["Key"], class: "form-group" %>
      <%= submit_tag "Search Location", class: "btn btn-success" %>
    <% end %>

    <hr class="my-4">

</div>


