<div class="jumbotron container text-center">
    <h1 class="display-4">WaxGuide Recomendation:</h1>
    <hr class="my-4">
    <div class="container text-center">
        <ul>
            <li> Location Name: <%=  @output.first["LocalizedName"] %>
            <li> Zip/Postal Code: <%=  @output.first["PrimaryPostalCode"] %>
            <li> Continent: <%=  @output.first["Region"]["EnglishName"]  %>
            <li> Region abv: <%=  @output.first["AdministrativeArea"]["ID"] %>
            <li> State/Region: <%=  @output.first["AdministrativeArea"]["LocalizedName"] %>
            <li> Time Zone Region: <%=  @output.first["TimeZone"]["Name"] %>
            <li> Currently in Daylight Savings: <%=  @output.first["TimeZone"]["IsDaylightSaving"] %>
            <li> Latitude: <%=  @output.first["GeoPosition"]["Latitude"] %>
            <li> Longitude: <%=  @output.first["GeoPosition"]["Longitude"] %>
            <li> Elevation(meters): <%=  @output.first["GeoPosition"]["Elevation"]["Metric"]["Value"] %>
            <li> Elevation(feet): <%=  @output.first["GeoPosition"]["Elevation"]["Imperial"]["Value"] %>
            <li> Location Key: <%=  @output.first["ParentCity"]["Key"] %>
        </ul>
    </div>
    <p>Is this location correct? If not, search zip code above</p>

    <%= form_tag location_path, :method => 'POST' do %>
    <div class="form-group">
      <%= text_field_tag 'location', nil, :value => @output.first["ParentCity"]["Key"], class: "form-group" %>
      <%= submit_tag "Search Location", class: "btn btn-success" %>
    <% end %>

    <hr class="my-4">


</div>


