<div class="jumbotron container text-center">
    <h1 class="display-4">WaxGuide Recomendation:</h1>
    <hr class="my-4">
    <div class="container text-center">
        <ul>
               <% @output.each do |location| %>
               <li> Location Name: <%=  location["LocalizedName"] %>
               <li> Country: <%= location["Country"]["ID"] %>
               <li> Country: <%= location["AdministrativeArea"]["ID"] %>, <%= location["AdministrativeArea"]["LocalizedName"] %>
                 <%= form_tag location_path, :method => 'POST' do %>
                    <div class="form-group">
                        <%= hidden_field 'location', nil, :value => location["Key"], class: "form-group" %>                    
                        <%= submit_tag "Search This Location", class: "btn btn-success" %> 
                            <% end %>
                <% end %>
        </ul>
    </div>

    <hr class="my-4">

</div>


