<!DOCTYPE html>
<html>
    <head>
    <title>Wax Guide</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- application.html.erb in Head tag below turbolinks -->
    <%= javascript_pack_tag 'application' %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('snowflake.ico') %>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
